/* esercizio 1 */
.ex-1-square:hover {
    transition: 4s;
}

.ex-1-square:hover {
    background-color: red;
} 
/* FATTO */

/* esercizio 2 */
.ex-2-square {
    transition: 4s;
}

.ex-2-square:active {
    width: 100%;
}
/* FATTO */
