/* esercizio 1 */
.ex-1-square:hover {
    transition: 4s;
}

.ex-1-square:hover {
    background-color: red;
} 
/* FATTO */

/* esercizio 2 */
.ex-2-square {
    transition: 4s;
}

.ex-2-square:active {
    width: 100%;
}
/* FATTO */

/* esercizio 3 */
.ex-3-square {
    transition: 4s;
}

.ex-3-square:hover {
    border-radius: 50%;
}
/* FATTO */

/* esercizio 4 */
.ex-4-square {
    transition: 4s;
}

.ex-4-square:hover {
    opacity: 0;
}
/* FATTO */

/* esercizo 5 */
.ex-5-square {
    transition: 2s;
}

.ex-5-square:hover {
    scale: 1.5;
}

.ex-5-square:active {
    scale: 0.5
}
/* FATTO */