/* esercizio 1 */
.ex-1-square:hover {
    transition: 4s;
}

.ex-1-square:hover {
    background-color: red;
} 
/* FATTO */

/* esercizio 2 */
.ex-2-square {
    transition: 4s;
}

.ex-2-square:active {
    width: 100%;
}
/* FATTO */

/* esercizio 3 */
.ex-3-square {
    transition: 4s;
}

.ex-3-square:hover {
    border-radius: 50%;
}
/* FATTO */

/* esercizio 4 */
.ex-4-square {
    transition: 4s;
}

.ex-4-square:hover {
    opacity: 0;
}
/* FATTO */

/* esercizo 5 */
.ex-5-square {
    transition: 2s;
}

.ex-5-square:hover {
    scale: 1.5;
}

.ex-5-square:active {
    scale: 0.5
}
/* FATTO */

/* esercizio 6 */
.ex-6-img:hover {
    filter: grayscale(1);
}
/* FATTO */

/* esercizio 7 */
.ex-7-img {
    transition: 4s;
}

.ex-7-img:hover {
    filter: grayscale(1);
}
/* FATTO */

/* esercizio 8 */
.ex-8-img {
    transition: 2s;
}

.ex-8-img:hover {
    border-radius: 20%;
    filter: blur(5px) grayscale(1);
}
/* FATTO */

/* esercizio 9 */
.ex-9-img {
    transition: 2s;
}

.ex-9-img:hover {
    border-radius: 20%;
    filter: blur(5px) grayscale(1);
    scale: 1.2;
}
/* FATTO */

/* esercio 10 */
.ex-10-icon {
    animation: spin infinite linear 4s;
}

@keyframes spin {
    0% {
        transform: rotate(1turn);
    }
}
/* FATTO */

